.navbar {
  min-height: 10vh;
  background-color: black;
  .navbar-brand {
    transition: all .3s ease;
    &:hover {
      transform: scale(1.2);
    }
  }

  .styled-links {
    width: 100%;
    font-size: 1.7rem;

    .nav-bar_link_line {
      width: 80%;
      height: 0.2rem;
      background-color: white;
      transition: all 0.7s ease;
      opacity: 0;
    }
    .nav-bar_link {
      margin: auto 3rem;
      padding: 1rem;
      text-decoration: none;
      list-style: none;
      color: white;
      cursor: pointer;
      font-size: 2rem;
      font-weight: lighter;
      letter-spacing: 0.1rem;
      transition: all 0.3s ease-in;
    }

    &:hover {
      .nav-link {
        color: $amarillo;
        text-shadow: 0 0 0.3rem $amarillo;
      }
      .nav-bar_link_line {
        background-color: $amarillo;
        box-shadow: 0 0 0.5rem $amarillo;
        font-weight: bold;
        opacity: 1;
      }
    }
  }
  .navbar-toggler {
    background-color: $amarillo;
    padding: .5rem;
    border-radius: 50%;
  }

  .hamburger {
    color: black;
    transform: scale(1.5);
    padding: 1rem;
  }
}


@media screen and (min-width: 2400px) {

  .nav-item{
    margin: auto 8rem !important;
  }

  .nav-link {
    font-size: 2rem !important;
    
  }
  .nav-bar_link_line {
    background-color: $amarillo;
    box-shadow: 0 0 0.5rem $amarillo;
    font-weight: bold;
    opacity: 1;
  }

  .navbar-brand {
    transform: scale(1);
  }
  
}