.home_description {
  color: white;
  .home_title {
    font-size: 4.6rem;
    font-weight: 100;
    letter-spacing: 1.2rem;
  }

  .inicial {
    font-weight: bolder;
    text-shadow: 0 0 0.4rem whitesmoke;
  }

  .home_subtitle {
    font-size: 2.7rem;
    font-weight: 400;
    color: $amarillo;
    letter-spacing: 0.8rem;
    text-shadow: 0 0 0.4rem $amarillo-shadow;
  }
  .home_me-img {
      z-index: 100 !important;
      opacity: 1;
  }
}

@media (max-width: 500px) {
  .home_me-img {
    .me {
      min-width: 25rem !important;
    }
  }

  .home_description {
    .home_title {
      font-size: 3.5rem !important;
    }

    .home_subtitle {
      font-size: 2rem !important;
      margin: auto !important;
      line-height: 2.5rem;
    }
  }
}
