* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  // overflow: hidden;
  // width: 100vw;
  // height: 100vh;
}

a{
  text-decoration: none;
  color: none;
  cursor: pointer;
}

.animate__animated {
  --animate-duration: 1.5s;
}

.container-fluid {
  background-color: black;
  // overflow-y: scroll;
  overflow-x: hidden;
}

